<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{{.Title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <header class="site-header">
    <nav>
      <a href="/">Home</a>
      <a href="/add">Add</a>
    </nav>
    <div class="logo">
      <img src="/static/images/1.png" alt="StreetShop">
    </div>
  </header>
  <main class="container">
    <h2>LES PRODUITS</h2>
    <div class="products-grid">
      
      <div class="product-card">
        <img src="/static/images/16A.webp" alt="Sweeat"> <h3>Sweeat</h3> <p>130€</p> <a href="/product/1" class="btn">consulter</a><!-- Produit 1 -->

      </div>
      <div class="product-card">
        <img src="/static/images/22A.webp" alt="Sweeat"><!-- Produit 2 -->
        <h3>Sweeat</h3>
        <p>140€</p>
        <a href="/product/1" class="btn">consulter</a> <!-- Produit 3 -->
      </div>
      <div class="product-card">
        <img src="/static/images/33B.webp" alt="Sweeat">
        <h3>Sweeat</h3>
        <p>140€</p>
        <a href="/product/1" class="btn">consulter</a> <!-- Produit 4 -->
      </div>
      <div class="product-card">
        <img src="/static/images/18A.webp" alt="Sweeat">
        <h3>Sweeat</h3>
        <p>150€</p>
        <a href="/product/1" class="btn">consulter</a> <!-- Produit 5 -->
      </div>
      <div class="product-card">
        <img src="/static/images/19A.webp" alt="Sweeat">
        <h3>Sweeat</h3>
        <p>120€</p>
        </div>
        <div class="product-card">
        <img src="/static/images/21A.webp" alt="Sweeat">
        <h3>Sweeat</h3>
        <p>140€</p>
        <a href="/product/1" class="btn">consulter</a> <!-- Produit 6 -->
        </div>
      </div>
    </div>
  </main>
</body>
</html>